<!DOCTYPE html>
<html lang="ru">
<header>

    <a href="welcome.html">
      <img class="logo" src="img/logo.png" alt="Логотип">
    </a>
</header>
<head>
  <meta charset="UTF-8">
  <title>SubjectHelper - Регистрация</title>
  <link rel="stylesheet" href="/static/back.css">
</head>

<h2>Регистрация</h2>


<form method="POST">
    <meta charset="UTF-8">
    <input type="email" name="email" placeholder="Email" required>

    <input type="password" name="password" placeholder="Пароль" required>
    <button type="submit">Зарегистрироваться</button>
</form>
<a href="/templates/login.html">Уже есть аккаунт?</a>
