<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>SubjectHelper - Регистрация</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='back.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='avatar.ico') }}">

</head>

<body>
<header>
  <a href="/"><img class="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="Логотип"></a>
</header>


<div class="form">
  <h2>Регистрация</h2>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="flash {{ category }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <form method="POST" action="{{ url_for('register') }}">
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Пароль" required>
    <button type="submit">Зарегистрироваться</button>
  </form>
  <a href="{{ url_for('login') }}">Уже есть аккаунт? Войти</a>
</div>

</body>
</html>